<li class="grid-item item-1">
    <article class="card-item flex">
        <span class="card-item-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>5,0
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 570px)" srcset="img/sofa-1-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-1.png">
                <img src="img/sofa-1.png" alt="sofa-1">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван кожаный</span>
            <span class="card-item-span">“R-94”</span>
        </h3>
        <span class="card-item-price grid-price">94 990 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>
<li class="grid-item item-2">
    <article class="card-item flex">
        <span class="card-item-rate grid-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>4,9
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 570px)" srcset="img/sofa-2-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-2.png">
                <img src="img/sofa-2.png" alt="sofa-2">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван апартековый</span>
            <span class="card-item-span">“T-75”</span>
        </h3>
        <span class="card-item-price grid-price">69 990 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>
<li class="grid-item item-3">
    <article class="card-item flex">
        <span class="card-item-rate grid-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>4,8
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 570px)" srcset="img/sofa-3-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-3.png">
                <img src="img/sofa-3.png" alt="sofa-3">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван тканевый</span>
            <span class="card-item-span">“D-31”</span>  
        </h3>
        <span class="card-item-price grid-price">28 490 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>
<li class="grid-item item-4">
    <article class="card-item flex">
        <span class="card-item-rate grid-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>4,8
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 570px)" srcset="img/sofa-4-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-4.png">
                <img src="img/sofa-4.png" alt="sofa-4">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван велюровый</span>
            <span class="card-item-span">“Y-68”</span>  
        </h3>
        <span class="card-item-price grid-price">22 990 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>
<li class="grid-item item-5">
    <article class="card-item flex">
        <span class="card-item-rate grid-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>4,8
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 570px)" srcset="img/sofa-5-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-5.png">
                <img src="img/sofa-5.png" alt="sofa-5">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван из шинила</span>
            <span class="card-item-span">“W-95”</span> 
        </h3>
        <span class="card-item-price grid-price">22 990 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>
<li class="grid-item item-6">
    <article class="card-item flex">
        <span class="card-item-rate grid-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>4,8
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 570px)" srcset="img/sofa-6-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-6.png">
                <img src="img/sofa-6.png" alt="sofa-6">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван флоковый</span>
            <span class="card-item-span">“G-41”</span>
        </h3>
        <span class="card-item-price grid-price">17 990 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>
<li class="grid-item item-7">
    <article class="card-item flex">
        <span class="card-item-rate grid-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>4,8
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 570px)" srcset="img/sofa-7-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-7.png">
                <img src="img/sofa-7.png" alt="sofa-7">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван шиниловый</span>
            <span class="card-item-span">“V-43”</span>
        </h3>
        <span class="card-item-price grid-price">19 990 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>
<li class="grid-item item-8">
    <article class="card-item flex">
        <span class="card-item-rate grid-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>4,7
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 570px)" srcset="img/sofa-8-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-8.png">
                <img src="img/sofa-8.png" alt="sofa-8">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван велюровый</span>
            <span class="card-item-span">“S-99”</span>
        </h3>
        <span class="card-item-price grid-price">19 990 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>
<li class="grid-item item-9">
    <article class="card-item flex">
        <span class="card-item-rate grid-rate">
            <svg class="card-item-icon grid-icon">
                <use xlink:href="/img/sprites.svg#star"></use>
            </svg>4,7
        </span>
        <div class="card-item-picture flex">
            <picture class="card-item-img">
                <source media="(max-width: 440px)" srcset="img/sofa-9-320.png">
                <source media="(max-width: 1920px)" srcset="img/sofa-9.png">
                <img src="img/sofa-9.png" alt="sofa-9">
            </picture>
        </div>
        <h3 class="card-item-title grid-title title-2">
            <span class="card-item-span">Диван из кожзама</span>
            <span class="card-item-span">“F-85”</span>
        </h3>
        <span class="card-item-price grid-price">26 990 руб</span>
        <a target="_blank" href="card.html" class="card-item-btn grid-btn buy-btn">Купить</a>
    </article>
</li>