<header class="header">
      <div class="header__top-block flex">
        <img class="header__logo top-logo" src="img/Logo.svg" alt="Logo">
      </div>
      <div class="header__top">
        <div class="header__top-container container flex">
        <a class="header__top-number flex" href="tel:+74958854547">
          <svg class="header__top-icon">
            <use xlink:href="/img/sprite.svg#call"></use>
          </svg>
          +7 (495) 885-45-47
        </a>
        <nav class="header__top-nav">
          <ul class="header__top-list list-reset flex">
            <li class="header__top-item">
              <a class="header__top-link" href="">О компании</a>
            </li>
            <li class="header__top-item">
              <a class="header__top-link" href="">Гарантия и возврат</a>
            </li>
            <li class="header__top-item">
              <a class="header__top-link" href="">Корпоративным клиентам</a>
            </li>
            <li class="header__top-item">
              <a class="header__top-link" href="">Дизайн-решение</a>
            </li>
          </ul>
        </nav>
      </div>
      </div>
      <div class="header__bottom">
        <div class="header__bottom-container container flex">
        <img class="header__logo bottom-logo" src="img/Logo.svg" alt="Logo">
        <nav class="header__bottom-nav">
          <ul class="header__bottom-list list-reset flex">
            <li class="header__bottom-item">
              <a class="header__bottom-link" target="_blank" href="catalog.html">Каталог</a>
            </li>
            <li class="header__bottom-item">
              <a class="header__bottom-link" href="">Магазины</a>
            </li>
            <li class="header__bottom-item">
              <a class="header__bottom-link" href="">Шоу-рум</a>
            </li>
            <li class="header__bottom-item">
              <a class="header__bottom-link" href="">Доставка и оплата</a>
            </li>
            <li class="header__bottom-item">
              <a class="header__bottom-link" href="">Дисконт</a>
            </li>
            <li class="header__bottom-item">
              <a class="header__bottom-link" href="">Контакты</a>
            </li>
          </ul>
          <a class="header__bottom-user" target="_blank" href="#"></a>
          <button class="header__bottom-btn btn-reset"></button>
        </nav>
      </div>
      </div>
      <div class="header__search container">
        <form action="https://jsonplaceholder.typicode.com/posts" method="POST" class="header__search-form flex">
          <input class="header__search-input" id="search" type="text" name="search" placeholder="Я хочу купить...">
          <button class="header__search-submit btn-reset" type="submit" aria-label="Искать по сайту">
            <!-- <svg class="header__search-icon">
              <use xlink:href="/img/sprite.svg#arrow"></use>
            </svg> -->
          </button>
        </form>
      </div>
  </header>